/*
  ____  _   _ 
 |  _ \| \ | | Pradyun Narkadamilli
 | |_) |  \| | https://pradyungn.tech
 |  __/| |\  | MIT License
 |_|   |_| \_| Copyright 2020 Pradyun Narkadamilli
*/

/* Dracula Theme code highlighting */

:root {
    /* Special */
    --background: #0f0f0f;
    --foreground: #f0f0f0;
    --cursor: #f0f0f0;

    /* Colors */
    --color0: #262626;
    --color1: #ac8a8c;
    --color2: #8aac8b;
    --color3: #aca98a;
    --color4: #8f8aac;
    --color5: #ac8aac;
    --color6: #8aabac;
    --color7: #c7c7c7;
    --color8: #4c4c4c;
    --color9: #c49ea0;
    --color10: #5af78e;
    --color11: #f4f99d;
    --color12: #caa9fa;
    --color13: #ff92d0;
    --color14: #9aedfe;
    --color15: #f5f5f5;
}
